.article_basket_box {
    width: calc(100% - 308px);
}

.arcticle_container_style_all, .drink_container_style_all{
    width: 100%;
    max-width: 1960px;
    height: auto;
    background-color: var(--farbe-hintergrund);
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
    align-items: flex-start;    
    gap: 10px;
    padding: 16px 0;
}


.container_article, .drinks_container {
    width: 250px;
    height: 310px;
}

.article_img_box, .drinks_img_box {
    position: relative;
    width: 250px;
    height: 300px;
}

.img_article, .img_drink {
    object-fit: cover;
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}


.name_style_article,
.article_price_style, .drink_price_style, .name_style_drink {
    margin-top: 5px;
    font-size: 24px;
}