/* Body Standards */
:root{
  
        --farbe-hintergrund:#e6b8b75c;
        --farbe-hintergrund2:#e6b8b7;

        /* fonts */
        --main-font: 'InterCustom', sans-serif;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--main-font);
}

.standard_display_gap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.standard_border_radius{
    border-radius: 5px;
}



